@charset "UTF-8";

.container {
	width: 80%;
	line-height: 50px;
	margin: 100px auto;
	margin-bottom: 100px;
}

h5 {
	text-align: center;
}

h5 span {
	color: teal;
}

table {
	border: 1px solid lightgray;
	border-collapse: collapse;
	padding: 10px;
	width: 90%;
}

th, td {
	border: 1px solid #EDEDED;
	padding: 5px;
}

th {
	background-color: #F5F5F5;
	width: 90px;
	font-weight: normal;
}

 #btn:link { color: black; text-decoration: none;}
 #btn:visited { color: black; text-decoration: none;}
 #btn:hover { color: black; text-decoration: underline;}
 
/*종아요 css*/
.feeling_div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container {
	margin-left: 20px;
}

.feeling_a {
	background-color: #fff;
	border: 2px solid #2199e8;
	padding: 10px 20px;
	border-radius: 2px;
	color: #2199e8;
}

.feeling_a:active {
	background-color: #2199e8;
	color: #fff;
}

.count {
	color: #2199e8;
	border: none;
	background: none;
}

/*댓글 css*/
.w-btn-green {
	background-color: #77af9c;
	color: #d7fff1;
}