@charset "UTF-8";

 .aStyle:link { color: red; text-decoration: none;}
 .aStyle:visited { color: red; text-decoration: none;}
 .aStyle:hover { color: red; text-decoration: underline;}
 .divCenter {
 		display: flex;
	  	justify-content: center;
	  	text-align: center;
	  	justify-content: center;
 }
 
#detail {
	padding-left: 150px;
	width: 80%;
}

table {
	border: 1px solid lightgray;
	border-collapse: collapse;
	padding: 10px;
	width: 90%;
}

th, td {
	border: 1px solid #EDEDED;
	padding: 5px;
}

th {
	background-color: #F5F5F5;
	width: 90px;
	font-weight: normal;
}

